h1 {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, -50%);
}

#score {
    position: absolute;
    left: 50%;
    top: 20;
    transform: translate(-50%, -50%);
}

body {
    background-image: url('../Images/background.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

#idKenny {
    display: none;
    width: 200px;
    height: 120px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
#idOsama{
    display: none;
    width: 80px;
    height: 180px;
    position: absolute;
    left: 30%;
    top: 50%;
    transform: translate(-50%, -50%);
}


#startButton {
    background-color: yellow;
    font-size: 2vh;
    width: 120px;
    height: 40px;
    border: 0.3vh black solid;
    border-radius: 15px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

}

#endGame {
    background-color: yellow;
    font-size: 2vh;
    width: 120px;
    height: 40px;
    border: 0.3vh black solid;
    border-radius: 3vh;
    display: none;
    position: fixed;
    left: 50%;
    bottom: 0%;
    transform: translate(-50%, -50%);

}
